<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="controller" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="false" />
		<param name="maxFileSize" value="10KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="file" value="C:/Users/Naresh/logs/controller.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<logger name="com.nepal.controller">
		<level value="DEBUG" />
		<appender-ref ref="controller" />
	</logger>

	<appender name="services" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="false" />
		<param name="maxFileSize" value="10KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="file" value="C:/Users/Naresh/logs/services.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>
	<logger name="com.nepal.service.impl">
		<level value="DEBUG" />
		<appender-ref ref="services" />
	</logger>
	
</log4j:configuration>
		
